{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block javascript %}
	<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.2/classic/ckeditor.js"></script>
{% endblock %}

{% block body %}
		<form method = 'POST' enctype = multipart/form-data>
			{% csrf_token %}
			{{ create_entry.title }}
			{{ create_entry.image }}
			<textarea name="content" id="editor">
				{{ create_entry.text }}
				<button type = 'submit'>Изменить</button>
			</textarea>
		</form>	
			
{% block secondblock %}
	<script>
	    ClassicEditor
	        .create( document.querySelector( '#editor' ) )
	        .catch( error => {
	            console.error( error );
	        } );
	</script>
{% endblock %}
{% endblock %}

