{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body%}
	<main>
        {% for posts_obj in posts_objs %}
            <article>
                <header>
                    <img src='{{ posts_obj.image.url }}'>
                    <p class="publish">Pablished by {{ posts_obj.autor}} {{posts_obj.date}}</p>
                </header>
                <h2>{{ posts_obj.title }}</h2>
                <p>{{ posts_obj.text|safe }}</p>
                <p><a href="{% url 'read_url' posts_obj.id %}" class="more">Continue Reading</a></p>
            </article>
        {% endfor %}
    </main>

    <aside>
    	<div class="widget">
        	<h2>Search</h2>
            <form action="" method="get">
            	<input type="search" class="search" placeholder="What are you looking for?"> 
            </form>
        </div>
        
        <div class="widget">
        	<h2>categories</h2>
            <nav>
            	<ul>
                	<li><a href="#">Weekend</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Holiday</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="widget">
        	<h2>Stay Tuned.</h2>
            
            <div class="subsrcibe">
                <form action="" method="get">
                    <input type="email" placeholder="Your Email" class="subsribe-input">
                    <input type="image" src="{% static 'images/sbcr-btn.jpg' %}" class="subsribe-img">
                </form>
            </div>
        </div>
        
        <div class="widget">
        	<img src="{% static '' %}images/banner.jpg" alt="">
        </div>
    </aside>
    
    <div class="clr"></div>
    
    <div class="pager clearfix">
    	<p class="previous-link">&larr; <a href="#">Previous</a></p>
        <p class="next-link"><a href="#">Next</a> &rarr;</p>
    </div>


{% endblock %}
